html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mr-5 {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

.center-space-top {
  margin: 1.5rem auto;
  max-width: 75vw;
}
