<h1 mat-dialog-title>Log In</h1>
<div mat-dialog-content>
  <div class="center-space-top" style="display: flex;flex-direction: column;width: 400px;">
    <button mat-button style="padding: 0.25rem;" (click)="login('google')">
      <mat-icon style="width: 40px; height:40px" svgIcon="google-logo"></mat-icon> Login With Google
    </button>
    <button mat-button style="padding: 0.25rem;">
      <mat-icon style="width: 40px; height:40px" svgIcon="github-logo"></mat-icon> Login With GitHub
    </button>
  </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button mat-dialog-close>Close</button>
</div>
